{% extends 'WXRCommonBundle::layout.html.twig' %}

{% import 'WXREventBundle::event_macros.html.twig' as macros %}

{##
 # @param WXR\EventBundle\Model\CategoryInterface category
 # @param WXR\EventBundle\Model\EventInterface[] events
 # @param integer eventCount
 # @param integer page
 # @param integer pageCount
 #}

{% block title %}{{ 'layout.events'|trans({}, 'WXREventBundle') }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="pull-right">
            <a href="{{ path('wxr_event_event_list') }}" class="btn"><i class="icon-list"></i> {{ 'layout.events'|trans({}, 'WXREventBundle') }}</a>
        </div>
        <h1>{{ 'layout.events'|trans({}, 'WXREventBundle') }} | {{ category.name }}</h1>
    </div>

    {% if category.description %}
    <div class="well">
        {{ category.description|raw }}
    </div>
    {% endif %}

    {{ macros.events_list(events) }}

    {{ macros.pagination(page, pageCount, { slug: category.slug }) }}

{% endblock %}
