{% extends 'WXRCommonBundle::layout.html.twig' %}

{% import 'WXREventBundle::event_macros.html.twig' as macros %}

{##
 # @param WXR\EventBundle\Model\EventInterface[] events
 # @param integer eventCount
 # @param WXR\EventBundle\Model\EventInterface[] currents
 # @param integer page
 # @param integer pageCount
 #}

{% block title %}{{ 'layout.events'|trans({}, 'WXREventBundle') }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'layout.events'|trans({}, 'WXREventBundle') }}{% if month %} ({{ month|format_date('MMM Y') }}){% endif %}</h1>
    </div>

    <div class="row">
        <div class="span9">

    {% if page == 1 and currents %}

            <div class="well">
                {{ macros.events_list(currents) }}
            </div>

    {% endif %}

    {{ macros.events_list(events) }}

    {% if app.security.isGranted('ROLE_ADMIN') %}
            <hr />
            <div class="btn-toolbar">
                <a href="{{ path('admin_wxr_event_event_create') }}" class="btn"><i class="icon-plus"></i> {{ 'layout.add'|trans({}, 'WXREventBundle') }}</a>
            </div>
    {% endif %}

    {{ macros.pagination(page, pageCount) }}

        </div>
        <div class="span3">
            {% render url('wxr_event_event_months') %}
        </div>
    </div>

{% endblock %}
