{% extends 'WXRCommonBundle::layout.html.twig' %}

{##
 # @param WXR\EventBundle\Model\PostInterface[] events
 # @param WXR\EventBundle\Model\PostInterface previous
 # @param WXR\EventBundle\Model\PostInterface next
 #}

{% block title %}{{ event.title }} - {{ parent() }}{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="pull-right">
            <a href="{{ path('wxr_event_event_list') }}" class="btn"><i class="icon-list"></i> {{ 'layout.events'|trans({}, 'WXREventBundle') }}</a>
        </div>
        <h1>{{ event.title }}</h1>
    </div>

    <p class="metadata">
        <span class="label">{{ 'layout.starts_at'|trans({}, 'WXREventBundle') }}</span> {{ event.startsAt|format_datetime }}<br />
        <span class="label">{{ 'layout.duration'|trans({}, 'WXREventBundle') }}</span> {{ event.duration|format_time }}<br />
    {% if event.categories is not empty %}
        <span class="label">{{ 'layout.categories'|trans({}, 'WXREventBundle') }}</span> {{ _self.categories_list(event.categories) }}<br />
    {% endif %}
    {% if event.isEnded %}
        <span class="label label-warning">{{ 'layout.ended'|trans({}, 'WXREventBundle') }}</span>
    {% elseif event.isInProgress %}
        <span class="label label-info">{{ 'layout.in_progress'|trans({}, 'WXREventBundle') }}</span>
    {% endif %}
    </p>

    <p>
    {{ event.description|raw|nl2br }}
    </p>

    {% if app.security.isGranted('ROLE_ADMIN') %}
    <div class="btn-toolbar">
        <a href="{{ path('admin_wxr_event_event_edit', { id: event.id }) }}" class="btn"><i class="icon-pencil"></i> {{ 'layout.edit'|trans({}, 'WXREventBundle') }}</a>
    </div>
    {% endif %}

    {% if previous or next %}
    <div class="pagination">
        <ul>
            {% if previous %}
            <li><a href="{{ path('wxr_event_event_show', { slug: previous.slug }) }}">← {{ previous.title }}</a></li>
            {% endif %}
            {% if next %}
            <li><a href="{{ path('wxr_event_event_show', { slug: next.slug }) }}">{{ next.title }} →</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
